<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- aqui e o formulario de login -->
    <!-- o "name" e o nome que vai para o banco de dados-->
    <form action="{% url 'login'%}" method="POST">{% csrf_token %}
        <input type="number" placeholder="Digite seu CPF" name="cpf"><br>
        <input type="date" name="DataN"><br>
        <input type="submit" value="Login"><br>
        
    </form>
</body>
<script src="../../static/js/login.js"></script>
</html>