<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="../../static/css/meucss/globall.css">
</head>
<body>
    <!-- aqui e o formulario de cadastro -->
    <!-- o "name" e o nome que vai para o banco de dados-->
    <form action="{% url 'register'%}" method="POST">{% csrf_token %}
        <input class="texto" type="number" placeholder="Digite seu CPF" name="cpf" minlength="11" maxlength="11" required><br>
        <input class="texto" type="email" placeholder="Digite seu email" name="email"><br>
        <input class="texto" type="date" name="DataN"><br>
        <input class="texto" type="text" placeholder="Digite seu nome" name="nome"><br>
        <input class="texto" type="text" placeholder="Digite seu cargo" name="cargo"><br>
        <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
        <label> Adicione uma foto sua </label><br>
        <input class="texto" type="file" name="foto"/><br>
        <input class="button" type="submit" value="cadastrar"><br>
    </form>
</body>
</html>