body{
    background-color: #520ba3;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

form .texto{
    padding: 5px;
    width: 300px;
    margin-bottom: 4%;
}
form .button{
    padding: 6px;
    width: 250px;
    margin-left: 30px;
    background-color: #241255;
    border: none;
    color:white;
}
form .button:hover{
    padding: 8px;
    background-color: #1678b1;
}

form label{
    font-size:20px;
    color:white;
}